{% extends 'main.html' %}

{% load static %}
{% block title %}User profile{% endblock title %}
{% block content %}


    <!-- User profile starts -->
    <div class="container grid grid--righ--col--lg">
      {% include 'include/menubar.html' %}
      
      <div class="user-profile-detail">
        <h2 class="profile-heading">Change password</h2>
        <form action="" class="change-password-form" method="POST">
          {% csrf_token %}
          <div class="group">
            <div class="form-group">
              <label for="current_password">Current password:</label>
              <input type="password" id="current_password" name="current_password" required />
            </div>
            <div class="form-group">
              <label for="new_password">New password:</label>
              <input type="password" id="new_password" name="new_password" required />
            </div>
            <div class="form-group">
              <label for="confirm_new_password">Confirm new password:</label>
              <input type="password" id="confirm_new_password" name="confirm_new_password" required />
            </div>
            <p class="forgot-password">
              Forgot password? <a href="{% url 'forgot-password' %}">Reset</a>
            </p>
          </div>
          <button class="btn btn-save-change">Save changes</button>
        </form>
      </div>
    </div>

    {% include 'include/alert.html' %}
    {% endblock content %}

    {% block script %}
    <script src="{% static 'js/custom.js' %}" defer></script>
    {% endblock script %}
