{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/utilities.css' %}" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <link rel="stylesheet" href="{% static 'css/queries.css' %}" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet" />
    <title>Reset password</title>
  </head>
  <body>
    <div class="container">
      <form action="" method="POST">
        {% csrf_token %}
        <div class="reset-wrapper">
          <h2 class="heading-secondary">COFFEE-MUG</h2>
          <input type="password" placeholder="New password..." name="new_password"/>
          <input type="password" placeholder="Confirm new password..." name="confirm_new_password"/>
          <button type="submit" class="btn btn-reset-password">
            Confirm
          </button>
        </div>
    </form>
    </div>
  </body>
</html>